services:
  mongo:
    ports:
      - ${MONGODB_PORT}:27017
    container_name: mongo
    logging:
      options:
        max-size: 1g
    volumes:
      - mongo_db:/data/db
      - mongo_config:/data/configdb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
      - MONGO_INITDB_DATABASE=lesbarkeitsindex
    image: mongo:6.0

volumes:
  mongo_db:
  mongo_config:
