services:
  postgres:
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    container_name: postgres
    logging:
      options:
        max-size: 1g
    volumes:
      - postgres_db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=lesbarkeitsindex
    image: postgres:16

volumes:
  postgres_db: