services:
  caddy:
    image: caddy:2-alpine
    ports:
      - ${SERVICE_CADDY_PORT}:${SERVICE_CADDY_PORT}
    environment:
      - SERVICE_APP_URL=${SERVICE_APP_URL}
      - SERVICE_MAILPIT_URL=${SERVICE_MAILPIT_URL}
      - SERVICE_MCP_SERVER_URL=${SERVICE_MCP_SERVER_URL}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped

  api-mongo-db:
    ports:
      - ${SERVICE_MONGODB_PORT}:27017
    container_name: api-mongo-db
    logging:
      options:
        max-size: 1g
    volumes:
      - mongo_db:/data/db
      - mongo_config:/data/configdb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${OPEN_DPP_MONGODB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${OPEN_DPP_MONGODB_PASSWORD}
      - MONGO_INITDB_DATABASE=${OPEN_DPP_MONGODB_DATABASE}
    image: mongo:6.0

volumes:
  caddy_data:
  caddy_config:
  minio_data:
  mongo_db:
  mongo_config:
  api_db:
